<div
  hlmAlert
  [variant]="spartanVariant()"
  [class]="dscColorCls()"
>
  <ng-icon [name]="iconName()" class="h-5 w-5 flex-shrink-0 mt-0.5" aria-hidden="true" />

  <div hlmAlertDescription class="flex-1 text-sm">
    <ng-content />
  </div>

  @if (dismissible()) {
    <button
      (click)="dismissed.emit()"
      class="flex-shrink-0 opacity-60 hover:opacity-100 transition-opacity -mt-0.5 -mr-1 p-1 rounded"
      aria-label="Sluiten"
    >
      <ng-icon name="lucideX" class="w-4 h-4" />
    </button>
  }
</div>
